$categories: (
 general: var(--ion-color-primary),
 session: #ac282b,
 agile: #8e8d93,
 frontend: #fe4c52,
 devops: #fd8b2d,
 history: #fed035,
 workshop: #69bb7b,
 food: #3bc7c4,
 lifestyle: #b16be3,
 tech: #6600cc
);

page-schedule {
  @each $track, $value in map-remove($categories) {
    ion-item-sliding[track=#{$track}] ion-label {
      border-left: 2px solid $value;
      padding-left: 10px;
    }
  }
}

