.session-track-ionic {
  color: var(--ion-color-primary);
}

.session-track-session {
  color: var(--ion-color-session);
}

.session-track-agile {
  color: var(--ion-color-agile);
}

.session-track-frontend {
  color: var(--ion-color-frontend);
}

.session-track-devops {
  color: var(--ion-color-devops);
}

.session-track-history {
  color: var(--ion-color-history);
}

.session-track-workshop {
  color: var(--ion-color-workshop);
}

.session-track-food {
  color: var(--ion-color-food);
}

.session-track-lifestyle {
  color: var(--ion-color-lifestyle);
}

.session-track-tech {
  color: var(--ion-color-tech);
}

/* Favorite Icon
 * --------------------------------------------------------
 */

.show-favorite {
  position: relative;
}

.icon-heart-empty,
.icon-heart {
  --border-radius: 50%;
  --padding-start: 0;
  --padding-end: 0;

  position: absolute;

  top: 5px;
  right: 5px;

  width: 48px;
  height: 48px;

  font-size: 16px;

  transition: transform 300ms ease;
}

.icon-heart-empty {
  transform: scale(1);
}

.icon-heart {
  transform: scale(0);
}

.show-favorite .icon-heart {
  transform: scale(1);
}

.show-favorite .icon-heart-empty {
  transform: scale(0);
}

h1 {
  margin: 0;
}